<html>
<body>
{% if doc !=[]%}
<table class="table table-bordered">
    <tr><th>Contact Name</th>
	<th>Designation</th>
	<th>Email</th>
	<th>Mobile</th>
	</tr>
{% for val in doc %}
    <tr>
       	 	<td>{% if val.name!=''%}
			<a href="/app/contact/{{val.name}}">{{val.name}}{% endif %}</a>
		</td>
        	<td> {% if val.designation%}{{val.designation }} {% endif %}</td>
        	<td> {% if val.email_id%}{{ val.email_id}}{% endif %} </td>
       		 <td>{% if val.mobile_no%}{{ val.mobile_no}} {% endif %}</td>
    </tr>
{% endfor%}
</table>
{%endif%}
<p>
<a href="/app/contact/new-contact-1"><button id="new_contact_button" class="btn btn-xs btn-default btn-contact">New Contact</button></a>
</p>
</body>
</html>
